name: LineageOS Device Tree Generator

on:
  workflow_dispatch:
    inputs:
      rom_url:
        description: 'URL ROM / Firmware (ZIP)'
        required: true
      rom_name:
        description: 'Nama file ZIP (contoh: samsung_rom.zip)'
        required: true

jobs:
  generate:
    name: Generate Device Tree
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Install Build Dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          bc bison build-essential ca-certificates clang curl cpio \
          flex gcc gcc-aarch64-linux-gnu git libarchive-tools \
          libssl-dev lld llvm make zip neofetch python3

    - name: Download ROM
      run: |
        mkdir -p rom
        wget "${{ github.event.inputs.rom_url }}" \
          -O "rom/${{ github.event.inputs.rom_name }}"
